<h1>Home#index</h1>

<p><a href="/admin/dtobjects">Click here for admin page</a></p>


<p>Here's all the dtobjects</p>

<% @dtobjects.each do |ob| %>
<p><b style="margin-right: 10px;"><%=ob.id%>:</b>
<%=ob.footime%>
<b style="margin-left: 20px;">Name:</b> <%=ob.name%></p>
<% end %>

